[Desktop Entry]
Encoding=UTF-8
Name=Link to Next
Type=Link
URL=https://www.amazon.com/ACER-Racing-Ceramic-Skate-Bearings/dp/B005HZADBY#
Icon=text-html
